body {
	background: white;
}

img {

    max-height: 100%;
}

/* Sub-Headings */

.wrapper {
	
    width: 12%;
    margin: 0px auto 0 auto;
}

nav {

    margin-top: 20px;
}

nav ul {

    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav a {

    text-decoration: none;
    color: #999;
    display: block;
    padding: 5px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-weight: 700;
    -webkit-transition: color .2s ease-in-out,opacity .2s ease-in-out;
    transition: color .2s ease-in-out,opacity .2s ease-in-out;
}

nav a:hover {

    color: black;
}

/* Header */

.header {
	
	width: 92%;
  	margin: 0px auto 0 auto;
  	margin-top: 72.5px;
  	justify-content: center;
  	flex-direction: row;
    font-weight: 400;
    line-height: 1.6;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    letter-spacing: -0.15px;
    font-size: 46.2px;
}

.trending {

	width: 100%;
  	margin: 0px auto 0 auto;
  	color: ;
	text-align: center;
}

.social {

    width: 8.5%;
    margin: 0px auto 0 auto;
    margin-top: -10px;
    text-align: center;
    list-style-type: none;
}

.social li {

    list-style-type: none;
}

.social img {

   text-align: center;
   margin: 0px auto 0 auto;
   opacity: 0.4;
   -webkit-transition: color .1s ease-in-out,opacity .1s ease-in-out;
   transition: color .1s ease-in-out,opacity .1s ease-in-out;
}

.social img:hover {

   text-align: center;
   margin: 0px auto 0 auto;
   opacity: 0.75;
}

/* Sub-Headings */

.sub-heading {
	
    width: 100%;
    margin: 0px auto 0 auto;
    margin-top: -100px;
    justify-content: center;
    flex-direction: row;
    font-weight: 400;
    line-height: 1.6;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    letter-spacing: -0.15px;
}

.architecture {

	font-family: sans-serif;
	width: 92%;
    font-size: 25px;
  	margin: 0px auto 0 auto;
  	margin-top: 150px;
  	color: ;
}

.mountains {

	font-family: sans-serif;
	width: 92%;
    font-size: 25px;
  	margin: 0px auto 0 auto;
  	margin-top: 150px;
  	color: ;
}

/* Section-One */

.section-one {
	
	width: 92%;
  	margin: 0px auto 0 auto;
  	margin-top: 20px;
  	justify-content: center;
  	flex-direction: row;
}

/* Section-One-Tall-Column */

.tall-column-1 {

	order: 1;
	flex: 2.5;
	height: 600px;
	background-color: black;
	margin:5px;
	margin-bottom: 10px;
    background-size: cover;
    overflow: hidden;
}

/* Section-One-Small-Column */

.small-column-1 {

	order: 3;
	flex: 2.5;
	flex-direction: column;
	margin:5px;
}

.small-column-top-1 {

	height: 295px;
	background-color: black;
	margin-bottom: 10px;
    background-size: cover;
    overflow: hidden;
}

.small-column-bottom-1 {

	height: 295px;
	background-color: black;
	margin-bottom: 10px;
    background-size: cover;
    overflow: hidden;
}

/* Section-One-Large-Column */

.large-column-1 {

	order: 2;
	flex: 5;
	height: 600px;
	background: black;
	margin:5px;
	margin-bottom: 10px;
    background-size: cover;
    overflow: hidden;
}

/* Section-Two */

.section-two {
	
	width: 92%;
  	margin: 0px auto 0 auto;
  	margin-top: 20px;
  	justify-content: center;
  	flex-direction: row;
}

/* Section-Two-Tall-Column */

.tall-column-2 {

	order: 2;
	flex: 2.5;
	height: 600px;
	background-color: black;
	margin:5px;
	margin-bottom: 10px;
    background-size: cover;
    overflow: hidden;
}

/* Section-Two-Small-Column */

.small-column-2 {

	order: 1;
	flex: 2.5;
	flex-direction: column;
	margin:5px;
}

.small-column-top-2 {

	height: 295px;
	background-color: black;
	margin-bottom: 10px;
    background-size: cover;
    overflow: hidden;
}

.small-column-bottom-2 {

	height: 295px;
	background-color: black;
	margin-bottom: 10px;
    background-size: cover;
    overflow: hidden;
}

/* Section-Two-Large-Column */

.large-column-2 {

	order: 3;
	flex: 5;
	height: 600px;
	background: black;
	margin:5px;
	margin-bottom: 10px;
    background-size: cover;
    overflow: hidden;
}



/* Media Query */

@media screen and (min-width: 960px)  {

    .section-one {

		display: flex;
		justify-content: space-between;
	}

	.section-two {

		display: flex;
		justify-content: space-between;
	}

	.tall-column {

		width: 25%;
	}

    .large-column {

        width: 50%;
    }

	.small-column {

		width: 25%;
	}

    nav ul {

        display: flex;
        justify-content: space-around;
            flex-direction: row;

    }

    nav li {

        flex: 1 1 0;
    }

    .social ul {

        display: flex;
        justify-content: space-around;
            flex-direction: row;
    }
}







.tall-column-1 img, .large-column-1 img, .small-column-top-1 img, .small-column-bottom-1 img,
.tall-column-2 img, .large-column-2 img, .small-column-top-2 img, .small-column-bottom-2 img {

   opacity: 1;
   -webkit-transition: color .2s ease-in-out,opacity .2s ease-in-out;
   transition: color .2s ease-in-out,opacity .2s ease-in-out;
}

.tall-column-1 img:hover, .large-column-1 img:hover, .small-column-top-1 img:hover, .small-column-bottom-1 img:hover,
.tall-column-2 img:hover, .large-column-2 img:hover, .small-column-top-2 img:hover, .small-column-bottom-2 img:hover {

   background: black;
   opacity: 0.5;
  -webkit-transition: color .2s ease-in-out,opacity .2s ease-in-out;
  transition: color .2s ease-in-out,opacity .2s ease-in-out;
}

.overlay-text {
   font-family: Courier,Courier New,monospace;
   margin-left: 30px;
   -webkit-transition: color .3s ease-in-out,opacity .3s ease-in-out;
   transition: color .3s ease-in-out,opacity .3s ease-in-out;
 
}

.tall-column-1:hover .overlay-text {
  position: relative;
  top: -10%;
  color: white;
  -webkit-transition: color .3s ease-in-out,opacity .3s ease-in-out;
  transition: color .3s ease-in-out,opacity .3s ease-in-out;
}

.large-column-1:hover .overlay-text {
  position: relative;
  top: -10%;
  color: white;
  -webkit-transition: color .3s ease-in-out,opacity .3s ease-in-out;
  transition: color .3s ease-in-out,opacity .3s ease-in-out;
}

.small-column-top-1:hover .overlay-text {
  position: relative;
  top: -17%;
  color: white;
  -webkit-transition: color .3s ease-in-out,opacity .3s ease-in-out;
  transition: color .3s ease-in-out,opacity .3s ease-in-out;
}

.small-column-bottom-1:hover .overlay-text {
  position: relative;
  top: -17%;
  color: white;
  -webkit-transition: color .3s ease-in-out,opacity .3s ease-in-out;
  transition: color .3s ease-in-out,opacity .3s ease-in-out;
}

.tall-column-2:hover .overlay-text {
  position: relative;
  top: -10%;
  color: white;
  -webkit-transition: color .3s ease-in-out,opacity .3s ease-in-out;
  transition: color .3s ease-in-out,opacity .3s ease-in-out;
}

.large-column-2:hover .overlay-text {
  position: relative;
  top: -10%;
  color: white;
  -webkit-transition: color .3s ease-in-out,opacity .3s ease-in-out;
  transition: color .3s ease-in-out,opacity .3s ease-in-out;
}

.small-column-top-2:hover .overlay-text {
  position: relative;
  top: -17%;
  color: white;
  -webkit-transition: color .3s ease-in-out,opacity .3s ease-in-out;
  transition: color .3s ease-in-out,opacity .3s ease-in-out;
}

.small-column-bottom-2:hover .overlay-text {
  position: relative;
  top: -17%;
  color: white;
  -webkit-transition: color .3s ease-in-out,opacity .3s ease-in-out;
  transition: color .3s ease-in-out,opacity .3s ease-in-out;
}