body {
	background: white;
}

img {

	max-width: 100%;
}

/* Section-One */

.section-one {
	
	width: 95%;
  	margin: 0px auto 0 auto;
  	margin-top: 275px;
  	justify-content: center;
  	flex-direction: row;
}

/* Section-One-First-Column */

.section-one-first-column {

	flex: 2.5;
	height: 600px;
	background-color: #d9ecf3;
	margin:5px;
	margin-bottom: 10px;
}

/* Desktop */
@media screen and (min-width: 960px){
    .section-one-first-column{
        background-image: url('../images/1-2-d.jpg');
        background-size: cover;
    	background-repeat: no-repeat;
    }
}

/* Tablet */
@media screen and (min-width: 480px) and (max-width: 960px){
    .section-one-first-column{
        background-image: url('../images/1-2-t.jpg');
        background-size: cover;
    	background-repeat: no-repeat;
    }
}

/* Mobile */
@media screen and (max-width: 480px){
    .section-one-first-column{
        background-image: url('../images/1-2-m.jpg');
        background-size: cover;
    	background-repeat: no-repeat;
    }
}

/* Section-One-Second-Column */

.section-one-second-column {

	flex: 5;
	height: 600px;
	background: #b2b2b2;
	margin:5px;
	margin-bottom: 10px;
	background-size: 100% 100%;
}

/* Desktop */
@media screen and (min-width: 960px){
    .section-one-second-column{
        background-image: url('../images/1-2-d.jpg');
        background-size: cover;
    	background-repeat: no-repeat;
    }
}

/* Tablet */
@media screen and (min-width: 480px) and (max-width: 960px){
    .section-one-second-column{
        background-image: url('../images/1-2-t.jpg');
        background-size: cover;
    	background-repeat: no-repeat;
    }
}

/* Mobile */
@media screen and (max-width: 480px){
    .section-one-second-column{
        background-image: url('../images/1-2-m.jpg');
        background-size: cover;
    	background-repeat: no-repeat;
    }
}

/* Section-One-Third-Column */

.section-one-third-column {

	flex: 2.5;
	flex-direction: column;
	margin:5px;
}

.section-one-third-column-top {

	height: 295px;
	background-color: #e6f0d7;
	margin-bottom: 10px;
}

/* Desktop */
@media screen and (min-width: 960px){
    .section-one-third-column-top{
        background-image: url('../images/1-2-d.jpg');
        background-size: cover;
    	background-repeat: no-repeat;
    }
}

/* Tablet */
@media screen and (min-width: 480px) and (max-width: 960px){
    .section-one-third-column-top{
        background-image: url('../images/1-2-t.jpg');
        background-size: cover;
    	background-repeat: no-repeat;
    }
}

/* Mobile */
@media screen and (max-width: 480px){
    .section-one-third-column-top{
        background-image: url('../images/1-2-m.jpg');
        background-size: cover;
    	background-repeat: no-repeat;
    }
}

.section-one-third-column-bottom {

	height: 295px;
	background-color: #dedad1;
	margin-bottom: 10px;
}

/* Desktop */
@media screen and (min-width: 960px){
    .section-one-third-column-bottom{
        background-image: url('../images/1-2-d.jpg');
        background-size: cover;
    	background-repeat: no-repeat;
    }
}

/* Tablet */
@media screen and (min-width: 480px) and (max-width: 960px){
    .section-one-third-column-bottom{
        background-image: url('../images/1-2-t.jpg');
        background-size: cover;
    	background-repeat: no-repeat;
    }
}

/* Mobile */
@media screen and (max-width: 480px){
    .section-one-third-column-bottom{
        background-image: url('../images/1-2-m.jpg');
        background-size: cover;
    	background-repeat: no-repeat;
    }
}

/* Section-Two */

.section-two {
	
	width: 95%;
  	margin: 0px auto 0 auto;
  	margin-top: 0px;
  	justify-content: center;
  	flex-direction: row;
}

/* Section-Two-First-Column */

.section-two-first-column {

	flex: 2.5;
	height: 600px;
	background-color: #d9ecf3;
	margin:5px;
	margin-bottom: 10px;
}

/* Section-Two-Second-Column */

.section-two-second-column {

	flex: 2.5;
	flex-direction: column;
	margin:5px;
}

.section-two-second-column-top {

	height: 295px;
	background-color: #e6f0d7;
	margin-bottom: 10px;
}

.section-two-second-column-bottom {

	height: 295px;
	background-color: #dedad1;
	margin-bottom: 10px;
}

/* Section-Two-Third-Column */

.section-two-third-column {

	flex: 5;
	height: 600px;
	background: #b2b2b2;
	margin:5px;
	margin-bottom: 10px;
}

/* Media Query */

@media screen and (min-width: 480px)  {

	.section-one {

		display: flex;
		justify-content: space-between;
	}

	.section-one-first-column, .section-one-second-column,  {

		width: 30%;
	}

	.section-one-third-column {

		width: 40%;
	}

	.section-two {

		display: flex;
		justify-content: space-between;
	}

	.section-two-first-column, .section-two-third-column,  {

		width: 30%;
	}

	.section-two-second-column {

		width: 40%;
	}
}