body {
	background: white;
}

img {

    max-height: 100%;
}

/* Sub-Headings */

.logo-class {
	
	width: 92%;
  	margin: 0px auto 0 auto;
  	margin-top: 60px;
  	justify-content: center;
  	flex-direction: row;
}

.logo {

	height: 100px;
	width: auto;
}

/* Header */

.header {
	
	width: 92%;
  	margin: 0px auto 0 auto;
  	margin-top: 20px;
  	justify-content: center;
  	flex-direction: row;
}

.trending {

	font-family: 'Oswald', sans-serif;
	font-size: 65px;
	width: 100%;
  	margin: 0px auto 0 auto;
  	margin-top: 0px;
  	color: rgba(0,168,255,0.5);
	text-shadow: 3px 3px 0 rgba(255,0,180,0.5);
	text-align: center;
}

/* Sub-Headings */

.sub-heading {
	
	width: 92%;
  	margin: 0px auto 0 auto;
  	margin-top: 20px;
  	justify-content: center;
  	flex-direction: row;
}

.architecture {

	font-family: 'Oswald', sans-serif;
	font-size: 35px;
	width: 100%;
  	margin: 0px auto 0 auto;
  	margin-top: 150px;
  	color: rgba(0,168,255,0.5);
	text-shadow: 3px 3px 0 rgba(255,0,180,0.5);
}

.mountains {

	font-family: 'Oswald', sans-serif;
	font-size: 35px;
	width: 100%;
  	margin: 0px auto 0 auto;
  	margin-top: 50px;
  	color: rgba(0,168,255,0.5);
	text-shadow: 3px 3px 0 rgba(255,0,180,0.5);
}

/* Section-One */

.section-one {
	
	width: 92%;
  	margin: 0px auto 0 auto;
  	margin-top: 20px;
  	justify-content: center;
  	flex-direction: row;
}

/* Section-One-Tall-Column */

.tall-column-1 {

	order: 1;
	flex: 2.5;
	height: 600px;
	background-color: #d9ecf3;
	margin:5px;
	margin-bottom: 10px;
    background-size: cover;
    overflow: hidden;
}

/* Section-One-Small-Column */

.small-column-1 {

	order: 3;
	flex: 2.5;
	flex-direction: column;
	margin:5px;
}

.small-column-top-1 {

	height: 295px;
	background-color: #e6f0d7;
	margin-bottom: 10px;
    background-size: cover;
    overflow: hidden;
}

.small-column-bottom-1 {

	height: 295px;
	background-color: #dedad1;
	margin-bottom: 10px;
    background-size: cover;
    overflow: hidden;
}

/* Section-One-Large-Column */

.large-column-1 {

	order: 2;
	flex: 5;
	height: 600px;
	background: #b2b2b2;
	margin:5px;
	margin-bottom: 10px;
    background-size: cover;
    overflow: hidden;
}

/* Sub-Heading-Two */

.sub-heading-2 {

	font-family: 'Oswald', sans-serif;
	font-size: 35px;
	width: 92%;
  	margin: 0px auto 0 auto;
  	margin-top: 10px;
  	margin-bottom: 20px;
  	margin-left: 80px;
  	color: rgba(0,168,255,0.5);
	text-shadow: 3px 3px 0 rgba(255,0,180,0.5);
}

/* Section-Two */

.section-two {
	
	width: 92%;
  	margin: 0px auto 0 auto;
  	margin-top: 20px;
  	justify-content: center;
  	flex-direction: row;
}

/* Section-Two-Tall-Column */

.tall-column-2 {

	order: 2;
	flex: 2.5;
	height: 600px;
	background-color: #d9ecf3;
	margin:5px;
	margin-bottom: 10px;
    background-size: cover;
    overflow: hidden;
}

/* Section-Two-Small-Column */

.small-column-2 {

	order: 1;
	flex: 2.5;
	flex-direction: column;
	margin:5px;
}

.small-column-top-2 {

	height: 295px;
	background-color: #e6f0d7;
	margin-bottom: 10px;
    background-size: cover;
    overflow: hidden;
}

.small-column-bottom-2 {

	height: 295px;
	background-color: #dedad1;
	margin-bottom: 10px;
    background-size: cover;
    overflow: hidden;
}

/* Section-Two-Large-Column */

.large-column-2 {

	order: 3;
	flex: 5;
	height: 600px;
	background: #b2b2b2;
	margin:5px;
	margin-bottom: 10px;
    background-size: cover;
    overflow: hidden;
}








/* Media Query */

@media screen and (min-width: 960px)  {

    .section-one {

		display: flex;
		justify-content: space-between;
	}

	.section-two {

		display: flex;
		justify-content: space-between;
	}

	.tall-column {

		width: 25%;
	}

    .large-column {

        width: 50%;
    }

	.small-column {

		width: 25%;
	}
}